DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase"
JWT_ACCESS_SECRET="your_jwt_access_secret_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"
SHA256_KEY="your_sha256_key_here"

REDIS_HOST="redis_host_here"
REDIS_PORT="redis_port_here"
REDIS_PASSWORD="redis_password_here"
